<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">EmployeeManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--c:if test="${activePage == 'listEmployees' or activePage == 'editEmployee'}">
                    <c:set var="employeesMenuActive">active</c:set>
                </c:if-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle"
                       th:classappend="${activePage == 'list' or activePage == 'new' ? 'active' : 'data-value-' + activePage}"
                       href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="#{employees.employee}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/listEmployees}" th:text="#{employees.title}">
                        </a>
                        <!--sec:authorize access="hasAuthority('ROLE_ADMIN')"-->
                        <a class="dropdown-item" th:href="@{/editEmployee}" th:text="#{employees.add}">
                        </a>
                        <!--/sec:authorize-->
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span class="nav-link"><i class="bi bi-person"></i><span th:text="${currentUser}"/></span></span>
                </li>

            </ul>
            <form method="post" class="d-flex" action="/logout" style="margin-bottom: 0px;">
                <button class="btn btn-outline-light" type="submit"><i class="bi bi-box-arrow-right"></i> Logout
                </button>
            </form>

        </div>
    </div>
</nav>


</html>

