<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title th:text="#{'employees.add'}"></title>
</head>
<div layout:fragment="content">

    <!--Content of the page-->
    <h1 th:text="#{employees.add}"></h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form th:action="@{/changeEmployee}" th:object="${employee}"  method="post" action="#">

                <!-- TODO: Create HTML Form -->

            </form>
        </div>
    </div>

</div>

</html>
