<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Employee Manager</title>
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container gy-5">
    <p class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
    <p class="alert alert-info" th:if="${message != null}" th:text="${message}"></p>
</div>
<div class="container" role="main" layout:fragment="content">
    <p>Changing contents</p>
</div>
<script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>

