<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">
<head>
    <title>Welcome</title>
</head>
<div layout:fragment="content">

    <!--Content of the page-->
    <h1 th:text="#{employees.title}"></h1>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-secondary" href="#" th:href="@{/createDummies}" th:text="#{employees.create}"></a>

            <form id="searchform" th:action="@{/listEmployees}">
                <div class="row">
                    <div class="col">
                        <label for="inputSearch" class="form-label" th:text="#{employees.search}"></label>
                        <input id="inputSearch" name="search" class="form-control" th:value="${param.search}"/>
                    </div>
                    <div class="col" th:with="departmentSearch=${param.departmentSearch}">
                        <label for="departmentSearch" class="form-label" th:text="#{employees.department}"></label>
                        <select id="departmentSearch" name="departmentSearch" class="form-control">
                            <option value=""></option>
                            <option th:each="department: ${departments}" th:value="${department.id}"
                                    th:text="${department.name}"
                                    th:selected="${#strings.equals(departmentSearch,department.id)}"
                            >
                            </option>
                        </select>

                    </div>
                </div>
            </form>

            <table data-toggle="table" class="table table-striped">
                <thead>
                <tr>
                    <th data-sortable="true" th:text="#{employees.ssn}"></th>
                    <th data-sortable="true" th:text="#{employees.firstname}"></th>
                    <th data-sortable="true" th:text="#{employees.lastname}"></th>
                    <th data-sortable="true" th:text="#{employees.dayofbirth}"></th>
                    <th data-sortable="true" th:text="#{employees.department}"></th>

                    <th th:text="#{employees.actions}"></th>

                </tr>
                </thead>
                <tbody>
                <!--/*  list all employees ----------------------------------------------------------- */-->

                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.ssn}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${#temporals.format(employee.dayOfBirth, 'dd.MM.yyyy')}">
                    </td>
                    <td th:text="${employee.department.name}"></td>

                    <td>
                        <div class="row">
                            <div class="col">
                                <a th:href="@{editEmployee(id=${employee.id})}" href="#"
                                   class="btn btn-xs btn-success btn-sm"><i
                                        class="bi bi-pen"></i><span th:text="#{employees.edit}"></span> </a>
                            </div>
                            <div class="col">
                                <form method="post" th:action="@{/deleteEmployee(id=${employee.id})}"
                                      action="#" style="margin-bottom: 0px;">
                                    <button type="submit" name="submit" value="value"
                                            class="btn btn-danger btn-sm"><i class="bi bi-trash"></i><span
                                            th:text="#{employees.delete}"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>

                </tr>

                <!--  list all employees ----------------------------------------------------------- -->
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
